delay-distance-chart {
  display: block;
}

delay-distance-chart .axis line, delay-distance-chart .axis path {
  fill: none;
  stroke: #ddd;
}

delay-distance-chart .axis text {
  fill: #aaa;
}

delay-distance-chart .axis.y .domain {
  display: none;
}

delay-distance-chart .bar-label, delay-distance-chart .legend-label {
  fill: #aaa;
  font-family: sans-serif;
  font-size: 0.8em;
}

delay-distance-chart .bar-left, delay-distance-chart .legend-left circle {
  fill: orange;
}

delay-distance-chart .bar-right, delay-distance-chart .legend-right circle {
  fill: steelblue;
}

delay-distance-chart .bar {
  shape-rendering: crispEdges
}
