// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

// Hide when Angular is not yet loaded and initialized
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.angular-google-map-container {
  height: 400px;
}

.info-card {
  background: #c2185b;
  color: #fff;
}
.info-card md-icon {
  color: #fff;
}
