<html lang="en" ng-app="glow.flightData" ng-strict-di>
  <head>
    <title>Commercial Flight Data Analysis</title>
    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon %}">
    {% } %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
    <meta name="viewport" content="initial-scale=1" />
  </head>

  <body>

    <flight-data-app></flight-data-app>

    <!-- Scripts -->
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
  </body>

</html>
